html,
body {
  height: 100%;
}

main {
  flex: 1;
}

h1 {
  padding-top: px;
  font-size: 50px;
  text-align: center;
  margin: 30px;
  font-family: 'Righteous', sans-serif;
}

h5 {
  margin-bottom: 5px; /* Add margin between h5 and label */
  font-weight: bold;
}

.form-row {
  margin: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#regform {
  margin: 0 auto;
    max-width: 600px; /* Adjust the maximum width as needed */
}
legend {
  background-color: #4caf50; /* Choose your desired background color */
  color: white; /* Choose the text color */
  padding: 5px 10px; /* Add padding for better visual appearance */
  border-radius: 8px; /* rounded corners */
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  
}

/* Form CSS*/

.profile-table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.form-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  align-items: center;
  flex: 1;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  margin: 0 10px 10px 0; /* Add margin between form-rows and on the right/bottom of each */
}

.last-row {
  flex: 1; /* Make each form-row take equal width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  margin: 0 10px 10px 0; /* Add margin between form-rows and on the right/bottom of each */
  display: flex;
  flex-direction: column;
}

.form-row label {
  margin-right: 10px;
  white-space: nowrap;
  font-weight: bold;
}

#fixed {
  font-weight: 400;
}

input[type='text'],
select {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-row {
  display: flex;
  justify-content: center;
}

#submit-button-div {
  display: flex;
  justify-content: center; /* Horizontal centering */
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 10px 12px;
  border-bottom: 1px solid #e1e1e1;
  font-family: Arial, Helvetica, Verdana;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

th {
  background-color: darkgray;
  color: white;
  text-align: center;
  font-weight: bold;
}

td {
  text-align: center;
  background-color: lightgray;
}

article.profile-table {
  margin: 50px;
}

.matchButton {
  padding: 10px 20px;
  margin-top: 0.8em;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
