nav {
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav a {
    
  
    flex: 0 1 100px;
    margin-left: 5%;
}
footer {
    background-color: aqua;
}
.logo {
width: 8%;
height: 5%;
margin-right: 25%;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 14vh; /* Set height to 100% of viewport height */
    margin-left: 6.8%;
   
}
.form-row1 {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 100%; /* Adjust the value based on your design */
    width: 80%;
}
/* Optional: Adjust the width of the form if needed */
form {
    max-width: 1500px; /* Adjust the value based on your design */
    width: 100%;
}

.form-row button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #45a049;
}

.form-row2 {
    /* height: 8vh;  */
    
      /* top: 15%; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 26%;
}

.form-row3 {
    height: 11vh;
    margin-left: 4%;
    top: 19%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.form-row4 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 15%;
}

.form-row5 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 12%;
    padding-right: 2%;
}
